h1 {
  color: rgba(16, 55, 92, 1);
}
/********************************************************* Modulo 1. introducing ************************************/

.introducing__logo {
  color: #10375c;
}

.introducing__button--log {
  color: #ff5722;
}

.introducing__button--signUp {
  color: #fff;
  background: #ff5722;
  box-shadow: 2px 2px 2px 1px #ff5722;
  border-radius: 0%;
}

.introducing__content--revolutionary h1 span {
  color: #dd2c00;
}

.introducing__content--revolutionary {
  color: #10375c;
}

.introducing__card {
  background: #10375c;
}

.introducing__card--title {
  color: #fff;
}

.introducing__card--items {
  background: #0d2c4a;
  width: 80%;
}

.introducing__card--item--title {
  color: #627689;
}

.introducing__card--item--text {
  color: #fff;
}

.introducing__card--items {
  margin: 0 auto;
}

.introducing__card--btn {
  background: #ff5722;
  width: 80%;
  margin: 0 auto;
  border-radius: 0%;
  color: #fff;
}

/********************************************************* Modulo 1. FIN ************************************/

/* Modulo 2 */

.modulo2-h1 {
  font-size: 40px;
  color: #10375c;
}

.modulo2-p {
  font-size: 18px;
  color: #9a9a9a;
}

.modulo2-top-arrows {
  text-align: center;
}

.row2-box1 {
  height: 7px;
  width: 3%;
  background-color: #dd2c00;
}

.row2-box2 {
  height: 7px;
  width: 15%;
  background-color: #dfdfdf;
}

.modulo2-row3 {
  margin-top: 100px;
  margin-left: 100px;
}

.Why-Frispes {
    background-color: #0d2c4a;
    color: white;
    padding: 60px;
}
/* Modulo 2: END */
